.app header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0 0 30px;
}

.app main {
  background-color: #282c34;
  transition: background-color 0.3s linear;
  min-height: 90vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rangeslider {
  min-width: 200px;
}

.degrees,
.message {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 30px 40px;
  border-radius: 10px;
}

.error {
  background: #c50000;
  color: #fff;
  padding: 10px;
  margin: 20px;
}

button {
  cursor: pointer;
  background: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}
